<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>
h1{
    text-align:center;
}
 .pokeblock{
        background-color: #eee;
        display: flex;
        display: inline-block;
        padding: 20px;
        margin: 10px;
        text-align:center ;
        width:300px;
        height:500px;
        box-sizing:  border-box; 
    
    }
</style>
</head>
<body>
<h1>POKEMON図鑑</h1>
!poke_list!

<!--最大表示件数の選択_送信ボタンなし-->
<form action="POKE-zukan.php" method="POST">
    <select name="kensu" onchange="this.form.submit()">
        <option value="10">10件</option>
        <option value="20">20件</option>
        <option value="50">50件</option>
    </select>
</form>


</body>
</html>