
<div class = "pokeblock">
    <img src="!poke_img!" alt="pokeimg">
    <div>
        <p><b>名前</b></p>
        <p>!poke_name!</p>
    </div>
    <div>
        <p><b>タイプ</b></p>
        <p>!poke_type!</p>
    </div>
    <div>
        <p><b>たかさ</b></p>
        <p>!poke_height!</p>
    </div>
    <div>
        <p><b>おもさ</b></p>
        <p>!poke_weight!</p>
    </div>
</div>
